/* Visibility utilities */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }
  
  .d-md-block {
    display: block;
  }
} 